In [33]:
import pandas as pd
import numpy as np
koboP=pd.read_excel("Tel_MSF.xlsx")
Phone=pd.read_excel("PhoneMsfNumber.xlsx")

In [34]:
koboP.head()

  Registration Group  Phone Number 1:
0     417-23-1883202        652894749
1       417-19-05770        682820328
2       417-21-07045        653147669
3       417-19-05879        652995870
4       883-17H01417        673100319

In [40]:
# rename column name
koboP.rename(columns={'Phone Number 1:':'Telephone2'}, inplace=True)

In [41]:
koboP.head()

  Registration Group  Telephone2
0     417-23-1883202   652894749
1       417-19-05770   682820328
2       417-21-07045   653147669
3       417-19-05879   652995870
4       883-17H01417   673100319

In [43]:
Phone.head()

,#,Registration Group ID,Full Name,Size,Age,Sex,Telephone,Telephone2
0,1,417-23-1523192,Modu ALI,1,26,Male,NaN,NaN
1,2,417-23-1523448,Modu KALDAPA,1,23,Male,NaN,NaN
2,3,417-23-1541051,Modu ALI,1,36,Male,NaN,NaN
3,4,417-23-1882757,Mohammed BUKAR,1,24,Male,NaN,NaN
4,5,417-23-1346545,Mariamu MODU,1,81,Female,NaN,NaN

In [44]:
# rename column name
Phone.rename(columns={'Registration Group ID':'Registration Group','Telephone2':'call2'}, inplace=True)

In [45]:
Phone.head()

   # Registration Group       Full Name  Size  Age     Sex Telephone  call2
0  1     417-23-1523192        Modu ALI     1   26    Male       NaN    NaN
1  2     417-23-1523448    Modu KALDAPA     1   23    Male       NaN    NaN
2  3     417-23-1541051        Modu ALI     1   36    Male       NaN    NaN
3  4     417-23-1882757  Mohammed BUKAR     1   24    Male       NaN    NaN
4  5     417-23-1346545    Mariamu MODU     1   81  Female       NaN    NaN

In [46]:
inner_join=pd.merge(koboP,
                    Phone,
                    on='Registration Group',
                    how='inner')

In [47]:
inner_join

,Registration Group,Telephone2,#,Full Name,Size,Age,Sex,Telephone,call2
0,417-23-1883202,652894749,5372,Fatima MODU,5,41,Female,NaN,652894749.0
1,417-19-05770,682820328,7340,MallumAmbadi ABBU AMMA,5,62,Male,NaN,NaN
2,417-21-07045,653147669,5673,Fatima YUSUFA,5,33,Female,NaN,NaN
3,417-19-05879,652995870,2264,Falmata MODU,3,30,Female,NaN,652995870.0
4,883-17H01417,673100319,6071,Halima MUSTAPHA,5,27,Female,NaN,NaN
5,BEF-23-00455,671008905,7414,Aisha MODU,5,31,Female,NaN,NaN
6,417-23-2598260,651909101,1078,Fatima ALI,3,39,Female,+237652432599,NaN
7,417-19-10752,670727293,4997,Hawa ALI,4,35,Female,NaN,NaN
8,417-22-30514,651282061,4998,Bintu MODU,4,32,Female,NaN,NaN
9,883-15H08710,699215382,3156,Abukar UMAR,4,31,Male,+237681830594,NaN
10,BEF-23-00328,654187573,5115,Hawa ADJI,4,46,Female,NaN,NaN
11,417-21-03032,653301594,2057,Mutsina BALTHNA,3,73,Male,NaN,NaN
12,417-20-01367,681268848,6620,Amos MODU,5,32,Male,+237681268848,NaN
13,417-20-00235,651044565,5418,Falmata IBRAHIM,5,39,Female,NaN,NaN
14,417-22-18897,671109465,7452,Saleh THEWET,5,32,Male,+237670591594,NaN
15,417-23-1344787,653123066,2973,Musa GUDUSU,4,41,Male,NaN,NaN
16,BEF-23-00740,671325626,7561,Halima MUSA,5,31,Female,NaN,NaN
17,417-22-00205,650453213,6974,Falmata IBRAHIM,5,29,Female,NaN,NaN
18,417-22-16268,6710256981,2090,Burthaya PAHDI,3,42,Female,NaN,NaN
19,417-19-10172,65293018,6594,Fanna MODU,5,30,Female,NaN,NaN
20,417-23-1999901,651617021,5318,Falmata MODU,5,38,Female,NaN,NaN
21,417-21-07327,650403329,132,Moses USMAN,1,29,Male,+237652811089,NaN
22,BEF-24-00123,653015926,7224,Hannatu FRIDAY,5,33,Female,NaN,NaN
23,BEF-24-00159,670239308,2737,Falmata MODU,3,28,Female,NaN,NaN
24,883-14H05405,682044795,3085,Naomie MUSA,4,48,Female,NaN,NaN
25,883-15H00845,672591331,1505,Rifkatu BITRUIS,3,46,Female,+237670301739,NaN
26,883-15H02241,653201725,474,Luka DUKDJE,1,65,Male,NaN,NaN
27,417-20-02295,651723842,1137,Kaladzavi MADA,3,32,Male,NaN,NaN
28,883-15H01431,672691254,75,Mohammed ABATCHA,1,49,Male,NaN,NaN
29,2A8-23-00919,651642392,692,Mohammed ABBA,1,22,Male,NaN,651642392.0
30,883-18H00735,695924631,3754,Marie ZAKARIA,4,30,Female,+237695942136,NaN
31,883-15H03977,67752338,6320,Abukar BUKAR,5,31,Male,+237677525338,NaN
32,417-21-12101,650940482,5683,Kellu MODU,5,25,Female,NaN,NaN
33,417-21-01542,651750235,1425,Lamisa AYUBA,3,22,Female,NaN,NaN
34,BEF-24-00136,653294660,7285,Ibrahim VALLA,5,45,Male,NaN,NaN
35,883-14H05244,671053286,4425,Rachel TALAKA,4,48,Female,NaN,NaN
36,BEF-23-00752,653628057,4986,Fanna ABATCHA,4,41,Female,NaN,NaN

In [48]:
left_join2=pd.merge(koboP,
                    Phone,
                    on='Registration Group',
                    how='left')

In [49]:
left_join2

,Registration Group,Telephone2,#,Full Name,Size,Age,Sex,Telephone,call2
0,417-23-1883202,652894749,5372.0,Fatima MODU,5.0,41.0,Female,NaN,652894749.0
1,417-19-05770,682820328,7340.0,MallumAmbadi ABBU AMMA,5.0,62.0,Male,NaN,NaN
2,417-21-07045,653147669,5673.0,Fatima YUSUFA,5.0,33.0,Female,NaN,NaN
3,417-19-05879,652995870,2264.0,Falmata MODU,3.0,30.0,Female,NaN,652995870.0
4,883-17H01417,673100319,6071.0,Halima MUSTAPHA,5.0,27.0,Female,NaN,NaN
5,BEF-23-00455,671008905,7414.0,Aisha MODU,5.0,31.0,Female,NaN,NaN
6,417-23-2598260,651909101,1078.0,Fatima ALI,3.0,39.0,Female,+237652432599,NaN
7,417-19-10752,670727293,4997.0,Hawa ALI,4.0,35.0,Female,NaN,NaN
8,417-22-30514,651282061,4998.0,Bintu MODU,4.0,32.0,Female,NaN,NaN
9,883-17HO1017,691072992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,883-15H08710,699215382,3156.0,Abukar UMAR,4.0,31.0,Male,+237681830594,NaN
11,BEF-23-00328,654187573,5115.0,Hawa ADJI,4.0,46.0,Female,NaN,NaN
12,417-21-03032,653301594,2057.0,Mutsina BALTHNA,3.0,73.0,Male,NaN,NaN
13,417-20-01367,681268848,6620.0,Amos MODU,5.0,32.0,Male,+237681268848,NaN
14,417-20-00235,651044565,5418.0,Falmata IBRAHIM,5.0,39.0,Female,NaN,NaN
15,417-22-18897,671109465,7452.0,Saleh THEWET,5.0,32.0,Male,+237670591594,NaN
16,417-23-1344787,653123066,2973.0,Musa GUDUSU,4.0,41.0,Male,NaN,NaN
17,BEF-23-00740,671325626,7561.0,Halima MUSA,5.0,31.0,Female,NaN,NaN
18,417-22-00205,650453213,6974.0,Falmata IBRAHIM,5.0,29.0,Female,NaN,NaN
19,417-22-16268,6710256981,2090.0,Burthaya PAHDI,3.0,42.0,Female,NaN,NaN
20,417-19-10172,65293018,6594.0,Fanna MODU,5.0,30.0,Female,NaN,NaN
21,417-23-1999901,651617021,5318.0,Falmata MODU,5.0,38.0,Female,NaN,NaN
22,417-21-07327,650403329,132.0,Moses USMAN,1.0,29.0,Male,+237652811089,NaN
23,BEF-24-00123,653015926,7224.0,Hannatu FRIDAY,5.0,33.0,Female,NaN,NaN
24,BEF-24-00159,670239308,2737.0,Falmata MODU,3.0,28.0,Female,NaN,NaN
25,883-14H05405,682044795,3085.0,Naomie MUSA,4.0,48.0,Female,NaN,NaN
26,883-15H00845,672591331,1505.0,Rifkatu BITRUIS,3.0,46.0,Female,+237670301739,NaN
27,883-H05298,653128654,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,BEF-23-02340,674244728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,883-15H02241,653201725,474.0,Luka DUKDJE,1.0,65.0,Male,NaN,NaN
30,417-20-02295,651723842,1137.0,Kaladzavi MADA,3.0,32.0,Male,NaN,NaN
31,883-15H01431,672691254,75.0,Mohammed ABATCHA,1.0,49.0,Male,NaN,NaN
32,417-2233046,670542931,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2A8-23-00919,651642392,692.0,Mohammed ABBA,1.0,22.0,Male,NaN,651642392.0
34,883-18H00735,695924631,3754.0,Marie ZAKARIA,4.0,30.0,Female,+237695942136,NaN
35,883-15H03977,67752338,6320.0,Abukar BUKAR,5.0,31.0,Male,+237677525338,NaN
36,417-21-12101,650940482,5683.0,Kellu MODU,5.0,25.0,Female,NaN,NaN
37,417-21-01542,651750235,1425.0,Lamisa AYUBA,3.0,22.0,Female,NaN,NaN
38,BEF-24-00116,651583256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,BEF-24-00136,653294660,7285.0,Ibrahim VALLA,5.0,45.0,Male,NaN,NaN
40,883-14H05244,671053286,4425.0,Rachel TALAKA,4.0,48.0,Female,NaN,NaN
41,BEF-23-00752,653628057,4986.0,Fanna ABATCHA,4.0,41.0,Female,NaN,NaN
42,883-18H02246,671646034,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,883-H02243,651235424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,883-14H01591,671532864,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
#Re-order column position
new_columns=['#','Registration Group','Full Name','Size','Age','Sex','Telephone','Telephone2','call2']

In [51]:
inner_join=inner_join[new_columns]

In [52]:
inner_join

,#,Registration Group,Full Name,Size,Age,Sex,Telephone,Telephone2,call2
0,5372,417-23-1883202,Fatima MODU,5,41,Female,NaN,652894749,652894749.0
1,7340,417-19-05770,MallumAmbadi ABBU AMMA,5,62,Male,NaN,682820328,NaN
2,5673,417-21-07045,Fatima YUSUFA,5,33,Female,NaN,653147669,NaN
3,2264,417-19-05879,Falmata MODU,3,30,Female,NaN,652995870,652995870.0
4,6071,883-17H01417,Halima MUSTAPHA,5,27,Female,NaN,673100319,NaN
5,7414,BEF-23-00455,Aisha MODU,5,31,Female,NaN,671008905,NaN
6,1078,417-23-2598260,Fatima ALI,3,39,Female,+237652432599,651909101,NaN
7,4997,417-19-10752,Hawa ALI,4,35,Female,NaN,670727293,NaN
8,4998,417-22-30514,Bintu MODU,4,32,Female,NaN,651282061,NaN
9,3156,883-15H08710,Abukar UMAR,4,31,Male,+237681830594,699215382,NaN
10,5115,BEF-23-00328,Hawa ADJI,4,46,Female,NaN,654187573,NaN
11,2057,417-21-03032,Mutsina BALTHNA,3,73,Male,NaN,653301594,NaN
12,6620,417-20-01367,Amos MODU,5,32,Male,+237681268848,681268848,NaN
13,5418,417-20-00235,Falmata IBRAHIM,5,39,Female,NaN,651044565,NaN
14,7452,417-22-18897,Saleh THEWET,5,32,Male,+237670591594,671109465,NaN
15,2973,417-23-1344787,Musa GUDUSU,4,41,Male,NaN,653123066,NaN
16,7561,BEF-23-00740,Halima MUSA,5,31,Female,NaN,671325626,NaN
17,6974,417-22-00205,Falmata IBRAHIM,5,29,Female,NaN,650453213,NaN
18,2090,417-22-16268,Burthaya PAHDI,3,42,Female,NaN,6710256981,NaN
19,6594,417-19-10172,Fanna MODU,5,30,Female,NaN,65293018,NaN
20,5318,417-23-1999901,Falmata MODU,5,38,Female,NaN,651617021,NaN
21,132,417-21-07327,Moses USMAN,1,29,Male,+237652811089,650403329,NaN
22,7224,BEF-24-00123,Hannatu FRIDAY,5,33,Female,NaN,653015926,NaN
23,2737,BEF-24-00159,Falmata MODU,3,28,Female,NaN,670239308,NaN
24,3085,883-14H05405,Naomie MUSA,4,48,Female,NaN,682044795,NaN
25,1505,883-15H00845,Rifkatu BITRUIS,3,46,Female,+237670301739,672591331,NaN
26,474,883-15H02241,Luka DUKDJE,1,65,Male,NaN,653201725,NaN
27,1137,417-20-02295,Kaladzavi MADA,3,32,Male,NaN,651723842,NaN
28,75,883-15H01431,Mohammed ABATCHA,1,49,Male,NaN,672691254,NaN
29,692,2A8-23-00919,Mohammed ABBA,1,22,Male,NaN,651642392,651642392.0
30,3754,883-18H00735,Marie ZAKARIA,4,30,Female,+237695942136,695924631,NaN
31,6320,883-15H03977,Abukar BUKAR,5,31,Male,+237677525338,67752338,NaN
32,5683,417-21-12101,Kellu MODU,5,25,Female,NaN,650940482,NaN
33,1425,417-21-01542,Lamisa AYUBA,3,22,Female,NaN,651750235,NaN
34,7285,BEF-24-00136,Ibrahim VALLA,5,45,Male,NaN,653294660,NaN
35,4425,883-14H05244,Rachel TALAKA,4,48,Female,NaN,671053286,NaN
36,4986,BEF-23-00752,Fanna ABATCHA,4,41,Female,NaN,653628057,NaN

In [53]:
#replace a empy (NAN) data value
inner_join=inner_join.replace(np.NAN, '', regex=True)

In [54]:
inner_join

,#,Registration Group,Full Name,Size,Age,Sex,Telephone,Telephone2,call2
0,5372,417-23-1883202,Fatima MODU,5,41,Female,,652894749,652894749.0
1,7340,417-19-05770,MallumAmbadi ABBU AMMA,5,62,Male,,682820328,
2,5673,417-21-07045,Fatima YUSUFA,5,33,Female,,653147669,
3,2264,417-19-05879,Falmata MODU,3,30,Female,,652995870,652995870.0
4,6071,883-17H01417,Halima MUSTAPHA,5,27,Female,,673100319,
5,7414,BEF-23-00455,Aisha MODU,5,31,Female,,671008905,
6,1078,417-23-2598260,Fatima ALI,3,39,Female,+237652432599,651909101,
7,4997,417-19-10752,Hawa ALI,4,35,Female,,670727293,
8,4998,417-22-30514,Bintu MODU,4,32,Female,,651282061,
9,3156,883-15H08710,Abukar UMAR,4,31,Male,+237681830594,699215382,
10,5115,BEF-23-00328,Hawa ADJI,4,46,Female,,654187573,
11,2057,417-21-03032,Mutsina BALTHNA,3,73,Male,,653301594,
12,6620,417-20-01367,Amos MODU,5,32,Male,+237681268848,681268848,
13,5418,417-20-00235,Falmata IBRAHIM,5,39,Female,,651044565,
14,7452,417-22-18897,Saleh THEWET,5,32,Male,+237670591594,671109465,
15,2973,417-23-1344787,Musa GUDUSU,4,41,Male,,653123066,
16,7561,BEF-23-00740,Halima MUSA,5,31,Female,,671325626,
17,6974,417-22-00205,Falmata IBRAHIM,5,29,Female,,650453213,
18,2090,417-22-16268,Burthaya PAHDI,3,42,Female,,6710256981,
19,6594,417-19-10172,Fanna MODU,5,30,Female,,65293018,
20,5318,417-23-1999901,Falmata MODU,5,38,Female,,651617021,
21,132,417-21-07327,Moses USMAN,1,29,Male,+237652811089,650403329,
22,7224,BEF-24-00123,Hannatu FRIDAY,5,33,Female,,653015926,
23,2737,BEF-24-00159,Falmata MODU,3,28,Female,,670239308,
24,3085,883-14H05405,Naomie MUSA,4,48,Female,,682044795,
25,1505,883-15H00845,Rifkatu BITRUIS,3,46,Female,+237670301739,672591331,
26,474,883-15H02241,Luka DUKDJE,1,65,Male,,653201725,
27,1137,417-20-02295,Kaladzavi MADA,3,32,Male,,651723842,
28,75,883-15H01431,Mohammed ABATCHA,1,49,Male,,672691254,
29,692,2A8-23-00919,Mohammed ABBA,1,22,Male,,651642392,651642392.0
30,3754,883-18H00735,Marie ZAKARIA,4,30,Female,+237695942136,695924631,
31,6320,883-15H03977,Abukar BUKAR,5,31,Male,+237677525338,67752338,
32,5683,417-21-12101,Kellu MODU,5,25,Female,,650940482,
33,1425,417-21-01542,Lamisa AYUBA,3,22,Female,,651750235,
34,7285,BEF-24-00136,Ibrahim VALLA,5,45,Male,,653294660,
35,4425,883-14H05244,Rachel TALAKA,4,48,Female,,671053286,
36,4986,BEF-23-00752,Fanna ABATCHA,4,41,Female,,653628057,

In [58]:
inner_join

,#,Registration Group,Full Name,Size,Age,Sex,Telephone,Telephone2
0,5372,417-23-1883202,Fatima MODU,5,41,Female,,652894749
1,7340,417-19-05770,MallumAmbadi ABBU AMMA,5,62,Male,,682820328
2,5673,417-21-07045,Fatima YUSUFA,5,33,Female,,653147669
3,2264,417-19-05879,Falmata MODU,3,30,Female,,652995870
4,6071,883-17H01417,Halima MUSTAPHA,5,27,Female,,673100319
5,7414,BEF-23-00455,Aisha MODU,5,31,Female,,671008905
6,1078,417-23-2598260,Fatima ALI,3,39,Female,+237652432599,651909101
7,4997,417-19-10752,Hawa ALI,4,35,Female,,670727293
8,4998,417-22-30514,Bintu MODU,4,32,Female,,651282061
9,3156,883-15H08710,Abukar UMAR,4,31,Male,+237681830594,699215382
10,5115,BEF-23-00328,Hawa ADJI,4,46,Female,,654187573
11,2057,417-21-03032,Mutsina BALTHNA,3,73,Male,,653301594
12,6620,417-20-01367,Amos MODU,5,32,Male,+237681268848,681268848
13,5418,417-20-00235,Falmata IBRAHIM,5,39,Female,,651044565
14,7452,417-22-18897,Saleh THEWET,5,32,Male,+237670591594,671109465
15,2973,417-23-1344787,Musa GUDUSU,4,41,Male,,653123066
16,7561,BEF-23-00740,Halima MUSA,5,31,Female,,671325626
17,6974,417-22-00205,Falmata IBRAHIM,5,29,Female,,650453213
18,2090,417-22-16268,Burthaya PAHDI,3,42,Female,,6710256981
19,6594,417-19-10172,Fanna MODU,5,30,Female,,65293018
20,5318,417-23-1999901,Falmata MODU,5,38,Female,,651617021
21,132,417-21-07327,Moses USMAN,1,29,Male,+237652811089,650403329
22,7224,BEF-24-00123,Hannatu FRIDAY,5,33,Female,,653015926
23,2737,BEF-24-00159,Falmata MODU,3,28,Female,,670239308
24,3085,883-14H05405,Naomie MUSA,4,48,Female,,682044795
25,1505,883-15H00845,Rifkatu BITRUIS,3,46,Female,+237670301739,672591331
26,474,883-15H02241,Luka DUKDJE,1,65,Male,,653201725
27,1137,417-20-02295,Kaladzavi MADA,3,32,Male,,651723842
28,75,883-15H01431,Mohammed ABATCHA,1,49,Male,,672691254
29,692,2A8-23-00919,Mohammed ABBA,1,22,Male,,651642392
30,3754,883-18H00735,Marie ZAKARIA,4,30,Female,+237695942136,695924631
31,6320,883-15H03977,Abukar BUKAR,5,31,Male,+237677525338,67752338
32,5683,417-21-12101,Kellu MODU,5,25,Female,,650940482
33,1425,417-21-01542,Lamisa AYUBA,3,22,Female,,651750235
34,7285,BEF-24-00136,Ibrahim VALLA,5,45,Male,,653294660
35,4425,883-14H05244,Rachel TALAKA,4,48,Female,,671053286
36,4986,BEF-23-00752,Fanna ABATCHA,4,41,Female,,653628057

In [59]:
#export to excel
inner_join.to_excel("PhoneListMsfBest.xlsx", index=False)